<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<title>Система автотестов для Python</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href='{% static "css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}

					<span class="login100-form-title p-b-43">
						Регистрация
					</span>

					{% for field in form_reg %}
					<div class="wrap-input100 validate-input">
						<div class="input100">
							<div>{{field}}</div>
						</div>
						<span class="focus-input100"></span>
					{% endfor %}
						<span class="error_register">{{ error_register }}</span>
					</div>
					<div class="flex-sb-m w-full p-t-3 p-b-32"></div>
				</form>

				{% if error_register == 'Логин и пароль должны быть не похожи. Пароль - минимум 8 символов из букв' %}
					<div class="flex-sb-m w-full p-t-3 p-b-32"></div>
					<style>
						.error_register{
							top: 77.5%;
						}
					</style>
				{% endif %}

				<div class="container-login100-form-btn">
					<input type="submit" name="btn_reg" class="login100-form-btn" value="Зарегистрироваться">
						<div class="login100-form-space"></div>
					<form method="POST">
						<input type="submit" name="btn_back" class="login100-form-btn-back" value="Назад">
						{% csrf_token %}
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>