<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<title>Система автотестов для Python</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href='{% static "css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
	<link rel="icon" type="image/x-icon" href='{% static "images/python.png" %}'>
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
						Войдите, чтобы продолжить
					</span>
					

					<span class="error_input">{{ error_input }}</span>
					{% for field in form_input %}
					<div class="wrap-input100 validate-input">
						<div class="input100">
							<div>{{field}}</div>
						</div>
						<span class="focus-input100"></span>
						{% endfor %}
						<label><input type="checkbox" class="password-checkbox" style="margin-bottom: 25px;"> Показать пароль</label>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox"></div>
					</div>
				</form>


			
				<div class="container-login100-form-btn">
					<input type="submit" name="btn_auth" class="login100-form-btn" value="Войти">
					<div class="login100-form-space"></div>
					<form method="POST">
						{% csrf_token %}
						<input type="submit" name="btn_reg" class="login100-form-btn-reg" value="Регистрация">
					</form>
				</div>

			</div>
		</div>
	</div>
</body>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
	$('body').on('click', '.password-checkbox', function () {
		if ($(this).is(':checked')) {
			$('#password-input').attr('type', 'text');
		} else {
			$('#password-input').attr('type', 'password');
		}
	});
</script>

</html>