<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Практическая работа {{ work.number }}</title>
    <link rel="stylesheet" href='{% static "css/style_test.css" %}'> 
</head>

<body>
    <header class="header">
        <div class="wrapper">
            {% if check_admin is False %}
                <a href='/' class="back_logo">
            {% else %}
                <a href='/practical_all/1/' class="back_logo">
            {% endif %}
                    <img  src="{% static 'images/Component 1.png' %}" alt="back" class="img_1">
                </a>

            {% if check_admin is False %}
                <a href="/profile/" class="profile_logo">
                    <img src="{% static 'images/icon_profile.png' %}" alt="profile" class="img_3">
                </a>
            {% else %}
                <a href="/admin/" class="admin_logo">
                    <img src="{% static 'images/Group 32.png' %}" alt="admin" class="img_4">
                </a>
            {% endif %}

            <a href="/auth/" class="logout_logo">
                <img src="{% static 'images/Логаут.png' %}" alt="logout" class="img_2">
            </a>
        </div>
    </header>
    <p class="id_number">
        ID: {{ work.id }}
    </p>
    <p class="course_number">
        Курс: {{ work.course }}
    </p>
    <p class="subject_number">
        Предмет: {{ work.subject }}
    </p>

    <body>
        <div class="block">
            <div class="title">
                <span>Лабораторная работа №{{ work.number }}</span>
                <span>Вариант {{ work.variant }}</span>
                <span class="primer" style="font-size: 18px;">Пример</span>
            </div>
    
            <div class="items">
                <div class="item">
                    <span>Входные аргументы:</span>
                    <span style="font-weight: normal;">main({{ arguments_input }})</span>
                </div>
                <div class="item">
                    <span>Вывод:</span>
                    {% if amount_arguments_exit == 0 %}
                        <span style="font-weight: normal;">{{ arguments_exit }}</span>
                    {% else %}
                        <span style="font-weight: normal;">[{{ arguments_exit }}]</span>
                    {% endif %}
                </div>
            </div>
            
            <p class="item" style="text-align: none; align-items: none;">Условие задачи:</p>
            <p class="text">{{ work.condition }}</p>
            <div class="kod" style="margin-top: 19px;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 16px;">Код решения:</span>
                <form method="POST">
                    {% csrf_token %}
                    
                    <textarea name="input_field" id='text' cols="80" rows="10" placeholder="Вставьте ваш код" style="margin-top: 7px;" value=>{% if codeform != '' %}{{ codeform }}{% endif %}</textarea>

                    {% if error == 'Все тесты пройдены. Молодец!' %}
                    <style>
                    .error_text{
                        color: rgb(41, 211, 18);
                    }
                    </style>
                    {% endif %}
                    <h1 class ="error_text">{{ error }}</h1>

                    <div class="kod-wrap">
                        <div title="1. Название функции - main.
2. Не обрабатывает бесконечный цикл." class="tool"><img src="{% static 'images/ic_16_Question_filled.svg' %}" alt="" style="margin-right: 18px; height: 21px;"></div>
                        <input type="submit" class="submit_button" name="inputcode" value="Проверить">
                    </div>
                    </input>
                </form>
            </div>
        </div>
    
    <script>
        function enableTab(text) {
        var el = document.getElementById(text);
        el.onkeydown = function(e) {
            if (e.keyCode === 9) { // была нажата клавиша TAB
    
                // получим позицию каретки
                let val = this.value,
                    start = this.selectionStart,
                    end = this.selectionEnd;
    
                // установим значение textarea в: текст до каретки + tab + текст после каретки
                this.value = val.substring(0, start) + '\t' + val.substring(end);
    
                // переместим каретку
                this.selectionStart = this.selectionEnd = start + 1;
    
                // предотвратим потерю фокуса
                return false;
    
            }
        };
    }
    enableTab('text');
    </script>

<script>// Скрипт для подсказки
	function simple_tooltip(target_items, name){
$(target_items).each(function(i){
$("body").append("<div class='"+name+"' id='"+name+i+"'><p>"+$(this).attr('title')+"</p></div>");
var my_tooltip = $("#"+name+i);

$(this).removeAttr("title").mouseover(function(){
my_tooltip.css({opacity:0.8, display:"none"}).fadeIn(400);
}).mousemove(function(kmouse){
my_tooltip.css({left:kmouse.pageX+15, top:kmouse.pageY+15});
}).mouseout(function(){
my_tooltip.fadeOut(400);
});
});
}
$(document).ready(function(){
simple_tooltip("a","tooltip");
});
</script>
    </body>
</body>
</html>