<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Список практических работ</title>
    <link rel="stylesheet" href='{% static "css/all_practical_style.css" %}'>
</head>

<head>
    <header class="header">
        <div class="wrapper">
            {% if check_admin is False %}
                <a href="/profile/" class="profile_logo">
                    <img src="{% static 'images/icon_profile.png' %}" alt="profile" class="img_3">
                </a>
            {% else %}
                <a href="/admin/" class="admin_logo">
                    <img src="{% static 'images/Group 32.png' %}" alt="admin" class="img_4">
                </a>
            {% endif %}

            <a href="/auth/" class="button">
                <img src="{% static 'images/Логаут.png' %}" alt="back" class="img">
            </a>
        </div>
    </header>
    
    <div class="filter">
        <form method="POST">
            {% csrf_token %}
            <input type="submit" name="btn_fil" class="filter_button" value="Отфильтровать">

            <select name="course" class="filter_grade">
                <option selected>Курс</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <select name="subject" class="filter_subject">
                <option selected>Предмет</option>
                <option value="ОП">ОП</option>
                <option value="ВВПД">ВВПД</option>
            </select>          

            <input type="text" name="number" class="filter_number" placeholder="Номер практической">
            <input type="text" name="variant" class="filter_var" placeholder="Вариант">
        </form>
    </div>

    <form method="POST">
        <div class="labs">
                {% csrf_token %}

                {% if bd_op != '' %}
                    <style>
                    .mine_labs{
                        background: #2A4360;
                        color: aliceblue;
                    }
                    </style>
                {% else %}
                    <style>
                    .all_labs{
                        background: #2A4360;
                        color: aliceblue;
                    }
                    </style>
                {% endif %}
                
            <input type="submit" name="btn_all" class="all_labs" value="Все работы">
            <div class="space"></div>
            {% if check_admin is False %}
                <input type="submit" name="btn_mine" class="mine_labs" value="Мои работы">
            {% endif %}
        </div>
    </form>
    
    {% if bd_op == '' %}
    <form method="POST">
        <div class="id_field">
            {% csrf_token %}
            <input type="number" name="id_search" class="id_input" placeholder="   ID" required>
            <div class="id_space"></div>
            <input type="submit" name="btn_search" class="search_field" value="Поиск">
        </div>
    </form>
    {% endif %}
</header>


<main class="">
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <table border="1" cellspacing="0" class="TABLE">
            <div class="TH">
                <tr>
                    <th class="name_column" height="47">ID</th>
                    <th class="name_column">Курс</th>
                    <th class="name_column">Название предмета</th>
                    <th class="name_column">Номер лабораторной работы</th>
                    <th class="name_column">Вариант</th>
                </tr>
                {% for stroke in bd %}
                <tr>
                    <td height="47" align="center"><a href="/test/{{stroke.id}}" style="color:blue">{{ stroke.id }}</a></td>
                    <td align="center">{{ stroke.course }}</td>
                    <td align="center">{{ stroke.subject }}</td>
                    <td align="center">{{ stroke.number }}</td>
                    <td align="center">{{ stroke.variant }}</td>
                </tr>
                {% endfor %}
                {% for stroke in bd_op %}
                <tr>
                    <td height="47" align="center"><a href="/test/{{stroke.id}}" style="color:blue">{{ stroke.id }}</a></td>
                    <td align="center">{{ stroke.course }}</td>
                    <td align="center">{{ stroke.subject }}</td>
                    <td align="center">{{ stroke.number }}</td>
                    <td align="center">{{ stroke.variant }}</td>
                </tr>
                {% endfor %}
            </div>
        </table>
        <form method="POST">
            <div class="arrow">
                {% csrf_token %}

                {% if key %}
                <p style="margin-bottom: 10px;">Страница: {{ key }}</p>
                {% endif %}
                {% if key < amount_note %}
                    <a href="../{{key | add:'1'}}/">
                        <p style="margin-bottom: 10px; color: blue;"><img src="{% static 'images/right-arrow.png' %}" name="right-arrow" alt="right" style="width: 10px;"> Вперёд</p>
                    </a>
                {% endif %}
                {% if key > 1 %}
                    <a href="../{{key | add:'-1'}}/">
                        <p style="color: blue;"><img src="{% static 'images/left-arrow.png' %}" name="left-arrow" alt="left" style="width: 10px;"> Назад</p>
                    </a>
                {% endif %}
            </div>
        </form>
    </div>
</main>


{% if key < amount_note %}
    <p style="position: absolute; top: 730px; font-size: xx-small;">.</p>
{% endif %}


</html>