{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href='{% static "css/profile.css" %}'>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/less.lib.js"></script>
	<title>{{user.first_name}} {{user.last_name}}</title>
</head>

<header class="header">
    <div class="wrapper">
        <form method="POST">
            <a href='/' class="back_logo">
                <img src="{% static 'images/Component 1.png' %}" alt="back" class="img_1">
            </a>
        </form>
        <a href="/auth/" class="logout_logo">
            <img src="{% static 'images/Логаут.png' %}" alt="logout" class="img_2">
        </a>
    </div>
</header>

<body>
	<div class="form">
		<div class="wrap">
			<form class="form-block" method="POST">
                {% csrf_token %}
				<div class="form-block__item">
                    <img src="{% static 'images/student.png' %}" alt="photo" style="height: 193px; margin-right: 10px;">
                    <div class="form-block__inputs">
                        {% if error == 'Данные сохранены' %}
                            <p class='error'>{{error}}</p>
                        {% endif %}
                        <p>Имя</p>
						<input type="text" required class="name" name="first_name" placeholder="Имя" value='{{user.first_name}}' required>
                        <p>Фамилия</p>
						<input type="text" required class="name" name="last_name" placeholder="Фамилия" value='{{user.last_name}}' required>
						<p>Курс</p>
                        <input maxlength=1 type="number" required class="name" name="course" placeholder="Курс" value='{{mine_data.course}}'>
                        <p>Вариант по ВВПД</p>
                        <input maxlength=2 type="number" required class="name" name="variant_vvpd" placeholder="Вариант по ВВПД" value='{{mine_data.variant_vvpd}}'>
                        <p>Вариант по ОП</p>
                        <input maxlength=2 type="number" required class="name" name="variant_op" placeholder="Вариант по ОП" value='{{mine_data.variant_op}}'>
						<input type="submit" required class="btn" name="save_btn" value="Сохранить данные">
				    </div>
            </form>
            <form method="POST">
                {% csrf_token %}
					<div class="form-block__item">
						<div class="form-block__inputs">
							<div class="form-block__password">
                                {% if error != 'Данные сохранены' %}
                                    <p class='error' style="font-size: 14px;">{{error}}</p>
                                {% endif %}
								<input type="password" class="pas" name="password1" placeholder="Новый пароль" required id="password-input" style="margin-top: 19px;">
								<input type="password" class="pas" name="password2" style="margin-bottom: 6px;" placeholder="Повторите пароль" required id="password-input1">
								<label><input type="checkbox" class="password-checkbox" style="margin-bottom: 25px;"> Показать пароль</label>
							    <input type="submit" class="btn" name="password_btn" value="Изменить пароль">
                            </div>
						</div>
					</div>
			</form>
            <p class="name_table">Выполненные практические работы</p>
            <div class="div_table">
                <table border="1" cellspacing="0" class="TABLE_profile">
                    <div class="TH">
                        <tr>
                            <th class="name_column_profile" height="47">ID</th>
                            <th class="name_column_profile">Курс</th>
                            <th class="name_column_profile">Название предмета</th>
                            <th class="name_column_profile">Номер лабораторной работы</th>
                            <th class="name_column_profile">Вариант</th>
                        </tr>
                        {% for stroke in mine_works %}
                        <tr>
                            <td height="47" align="center" style="color: blue;"><a href="../test/{{stroke.practical.id}}" style="color: blue;">{{ stroke.practical.id }}</a></td>
                            <td align="center">{{ stroke.course }}</td>
                            <td align="center">{{ stroke.subject }}</td>
                            <td align="center">{{ stroke.number }}</td>
                            <td align="center">{{ stroke.variant }}</td>
                        </tr>
                        {% endfor %}
                    </div>
                </table>
                <p style="margin-bottom: 35px;"> </p>
            </div>
		</div>
	</div>

    



<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
	$('body').on('click', '.password-checkbox', function () {
		if ($(this).is(':checked')) {
			$('#password-input').attr('type', 'text');
		} else {
			$('#password-input').attr('type', 'password');
		}
	});
</script>
<script>
	$('body').on('click', '.password-checkbox', function () {
		if ($(this).is(':checked')) {
			$('#password-input1').attr('type', 'text');
		} else {
			$('#password-input1').attr('type', 'password');
		}
	});
</script>

<script>
$('body').on('input', 'input[type="number"][maxlength]', function(){
    if (this.value.length > this.maxLength){
    this.value = this.value.slice(0, this.maxLength);
    }
    });
</script>

</body>


</html>