#header{
    background: #2a315c;
}

.module caption{
    background: #2a315c;
}

.login100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;
    border-radius: 10px;
  
    font-family: Roboto;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    margin-top: 10px;
    margin-bottom: 30px;
  }

