/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
}
html{
     box-sizing: border-box;
}
*, *::before, *::after{
     box-sizing: inherit;
}

.wrapper{
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;

}
.header{
    position: fixed;
    width: 63px;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #333333;
}
/* Кнопка для профиля */
.profile_logo{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 0px;
  
    background-color: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
  }
  .profile_logo:hover{
    left: 62px;
    width: 190px;
    background-image: url("../images/profile.png");
  }
  .img_3{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 0px;
  }


/* Кнопка для выйти */
.button{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 62px;
    padding: 0 0 0 0px;

    background: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.button:hover{
    left: 62px;
    width: 165px;
    background-image:url("../images/выход.png");
}
.img{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 62px;
}
/* Таблица с заданиями */
.TABLE{
    position: absolute;
    width: 943px;
    left: 229px;
    top: 197px;
    border: 1px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}
.filter_space{
    width: 4.5%;
}
.filter_button{
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #6675df;
    width: 165px;
    right: 0px;
    height: 34px;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;  
}
.filter_button:hover{
    background: #333333;   
}
.filter{
    position: absolute;
    width: 748px;
    height: 35px;
    left: 270px;
    top: 78px;
}
.filter_id{
    position: absolute;
    width: 87px;
    height: 34px;
    left: 0px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
}
.filter_grade{
    position: absolute;
    width: 87px;
    height: 34px;
    left: 0px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;

}
.filter_subject{
    position: absolute;
    width: 87px;
    height: 34px;
    left: 121px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
}
.filter_number{
    position: absolute;
    width: 166px;
    height: 34px;
    left: 242px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
}
.filter_var{
    position: absolute;
    width: 89px;
    height: 34px;
    left: 442px;
    top: 0px;
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
}
.labs{
    position: absolute;
    width: 428px;
    height: 30px;
    left: 270px;
    top: 140px;
    display: flex;
    flex-wrap: wrap;
}
.all_labs{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #6675df;
    width: 44%;
    height: 100%;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;  
}
.all_labs:hover{
    background: #333333;   
}
.space{
    width: 12%;
}
.mine_labs{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #6675df;
    width: 44%;
    height: 100%;
    margin: 0;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; 
}
.mine_labs:hover{
    background: #333333;   
}
.id_field{
    position: absolute;
    width: 220px;
    height: 34px;
    left: 270px;
    top: 17px;
    display: flex;
    flex-wrap: wrap;
}
.id_input{
    width: 40%;
    height: 100%;
    left: 0px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
}
.id_space{
    width: 15%;
}
.search_field{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #6675df;
    width: 45%;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;  
}
.search_field:hover{
    background: #333333;   
}
.name_column{
    font-weight: bold;
    font-size: 18px;
}
.submit_button{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
    align-items: left;
    border-radius: 10px;
    background: #6675df;
    width: 100%;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;   
}
.submit_button:hover{
    background: #333333;   
}

.arrow{
    position: absolute;
    top: 196px;
    left: 117px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}

/* Кнопка для профиля */
.admin_logo{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 0px;
  
    background-color: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
  }
  .admin_logo:hover{
    left: 62px;
    width: 200px;
    background-image: url("../images/админ.png");
  }
  .img_4{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 0px;
  }