div{
    margin-bottom: 30px;
}

.course{
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 20px;
}

.subject{
    font-weight: bold;
    position: absolute;
    top: 25px;
    right: 20px;
}

.number{
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 20px;
}

.variant{
    font-weight: bold;
    position: absolute;
    top: 75px;
    right: 20px;
}

.error{
    position: absolute;
    top: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ec1b1b;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.2;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; 
}

.table{
    position: absolute;
    width: 400px;
    left: 850px;
    top: 173px;
    border: 1px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}
.table_1{
    position: absolute;
    width: 650px;
    top: 173px;
    left: 150px;  
    border: 1px solid #000000;
    font-style: normal;
    font-weight: normal; 
}
.left_table_text{
    position: absolute;
    top: 100px;
    left: 290px;
    width: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal; 
    text-align: center;
    align-items: center;
}
.right_table_text{
    position: absolute;
    width: 400px;
    left: 865px;
    top: 118px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal; 
    text-align: center;
    align-items: center;
}
.percentage{
    position: absolute;
    color: #6675df;
    top: 124px;
    left: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal; 
    text-align: center;
    align-items: center;
}
.filter_button{
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #6675df;
    width: 170px;
    right: 0px;
    height: 35px;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;  
}
.filter_button:hover{
    background: #333333;   
}
.filter{
    position: absolute;
    width: 748px;
    height: 35px;
    left: 300px;
    top: 40px;
}
.filter_id{
    position: absolute;
    width: 87px;
    height: 34px;
    left: 0px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
}
.filter_grade{
    position: absolute;
    width: 87px;
    height: 34px;
    left: 0px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;

}
.filter_subject{
    position: absolute;
    width: 87px;
    height: 34px;
    left: 121px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
}
.filter_number{
    position: absolute;
    width: 166px;
    height: 34px;
    left: 242px;
    top: 0px;
    
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
}
.filter_var{
    position: absolute;
    width: 89px;
    height: 34px;
    left: 442px;
    top: 0px;
    border: 3px solid #2A4360;
    box-sizing: border-box;
    border-radius: 6px;
}
.wrapper{
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;

}
.header{
    position: fixed;
    width: 63px;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #333333;
}

/* Кнопка для выйти */
.button{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 63px;
    padding: 0 0 0 0px;

    background: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.button:hover{
    left: 62px;
    width: 165px;
    top: 63;
    background-image:url("../images/выход.png");
}
.img{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 0px;
}
.button_1{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 0px;
    padding: 0 0 0 0px;

    background: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.button_1:hover{
    left: 62px;
    top: 0px;
    width: 190px;
    background-image:url("../images/админ.png");
}
.img_1{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 63px;
} 
