html{
  overflow-x:hidden;
}

*{
  margin: 0;
  padding: 0;
  outline: none !important;
}
.wrap{
  left: 1400px;
  margin: 0 auto;
}
.form-block{
  margin-top: 50px;
}
.form-block__item{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-block__inputs{
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-block__inputs:last-child{
  margin-right: 0;
}
.name{
  height: 35px;
  margin-bottom: 20px;
  border: none;
  padding-left: 10px;
  background-color: rgb(209, 209, 209);
  border: 1px solid #ffffff;
}
.name:hover{
  background-color: #fff;
  border: 1px solid rgb(158, 158, 158);
}
.name:focus-visible{
  background-color: #fff;
  border: 1px solid rgb(158, 158, 158);
}
.name::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}
.btn{
  height: 30px;
  border-radius: 7px;
  width: 210px;
  background: #6675df;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn:hover{
  background-color: #333333;
  transition: 0.3s;
}
.form-block__password{
  display: flex;
  flex-direction: column;
}
.pas{
  height: 35px;
  margin-bottom: 25px;
  border: none;
  padding-left: 10px;
  background-color: rgb(209, 209, 209);
  border: 1px solid #ffffff;
}
.pas:hover{
  background-color: #fff;
  border: 1px solid rgb(158, 158, 158);
}
.pas:focus-visible{
  background-color: #fff;
  border: 1px solid rgb(158, 158, 158);
}

.error{
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  color: #000000;
  margin-bottom: 5px;
}

.name_table{
  position: absolute;
  top: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
}

.div_table{
  position: absolute;
  top: 535px;
}

.TABLE_profile{
  width: 943px;
  border: 1px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}
.name_column_profile{
  font-weight: bold;
  font-size: 18px;
}

.wrapper{
  max-width: 1400px;
  margin: 0 auto;
}
.header{
 position: fixed;
 width: 63px;
 height: 100%;
 left: 0px;
 top: 0px;
 
 background: #333333;
}
/* Кнопка для лаб */
.back_logo{
 position: fixed;
 width: 63px;
 height: 63px;
 left: 0px;
 top: 0px;

 background-color: #6675DF;
 border: 1px solid #000000;
 box-sizing: border-box;
 -webkit-transition: All 0.5s ease;
 -moz-transition: All 0.5s ease;
 -o-transition: All 0.5s ease;
 -ms-transition: All 0.5s ease;
 transition: All 0.5s ease;
}
.back_logo:hover{
 left: 62px;
 width: 200px;
 background-image: url("../images/лабы.png");
}
.img_1{
 position: fixed;
 height: 63px;
 width: 63px;
 left: 0px;
 top: 0px;
}
/* Кнопка для выйти */
.logout_logo{
 position: fixed;
 width: 63px;
 height: 63px;
 left: 0px;
 top: 62px;
 
 background-color: #6675DF;
 border: 1px solid #000000;
 box-sizing: border-box;
 -webkit-transition: All 0.5s ease;
 -moz-transition: All 0.5s ease;
 -o-transition: All 0.5s ease;
 -ms-transition: All 0.5s ease;
 transition: All 0.5s ease;
}
.logout_logo:hover{
 left: 62px;
 width: 200px;
 background-image: url("../images/выход.png");

}
.img_2{
 position: fixed;
 height: 63px;
 width: 63px;
 left: 0px;
 top: 63px;
}
