html{
  overflow-x:hidden;
}

*{
  margin: 0;
  padding: 0;
  outline: none !important;
}

.header{
  position: fixed;
  width: 63px;
  height: 100%;
  left: 0px;
  top: 0px;
  
  background: #333333;
}

  /* Кнопка для выйти */
.button{
  position: fixed;
  width: 63px;
  height: 63px;
  left: 0px;
  top: 63px;
  padding: 0 0 0 0px;

  background: #6675DF;
  border: 1px solid #000000;
  box-sizing: border-box;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
.button:hover{
  left: 62px;
  width: 165px;
  top: 63;
  background-image:url("../images/выход.png");
}
.img{
  position: fixed;
  height: 63px;
  width: 63px;
  left: 0px;
  top: 0px;
}
.button_1{
  position: fixed;
  width: 63px;
  height: 63px;
  left: 0px;
  top: 0px;
  padding: 0 0 0 0px;

  background: #6675DF;
  border: 1px solid #000000;
  box-sizing: border-box;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
.button_1:hover{
  left: 62px;
  top: 0px;
  width: 190px;
  background-image:url("../images/админ.png");
}
.img_1{
  position: fixed;
  height: 63px;
  width: 63px;
  left: 0px;
  top: 63px;
} 

.form-block__item{
  position: absolute;
  left: 270px;
  top: 190px;
  margin: 0 auto;

  display: flex;
}
.form-block__inputs{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;

  padding-top: 50px;

  display: flex;
  flex-direction: column;
  margin-right: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-block__inputs:last-child{
  margin-right: 0;
}
.name{
  height: 35px;
  margin-bottom: 20px;
  border: none;
  padding-left: 10px;
  background-color: rgb(209, 209, 209);
  border: 1px solid #ffffff;
}
.name:hover{
  background-color: #fff;
  border: 1px solid rgb(158, 158, 158);
}
.name:focus-visible{
  background-color: #fff;
  border: 1px solid rgb(158, 158, 158);
}
.name::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}


.name_table{
  position: absolute;
  left: 495px;
  top: 450px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
}

.div_table{
  position: absolute;
  left: 230px;
  top: 485px;
}

.TABLE_profile{
  width: 943px;
  border: 1px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}
.name_column_profile{
  font-weight: bold;
  font-size: 18px;
}

.filter{
  position: absolute;
  width: 748px;
  height: 35px;
  left: 50px;
  top: 40px;
}

.filter_button_1{
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #6675df;
  width: 18%;
  left: 450px;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;  
}
.filter_button_1:hover{
  background: #333333;   
}

.filter_login{
  position: absolute;
  width: 166px;
  height: 34px;
  left: 242px;
  top: 0px;
  
  border: 3px solid #2A4360;
  box-sizing: border-box;
  border-radius: 6px;
}

.error{
  position: absolute;
  left: 295px;
  top: 83px;
  color: #ec1b1b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bolder;
}


.filter_button_2{
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #6675df;
  width: 18%;
  left: 658px;
  height: 100%;
  top: 70px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;  
}
.filter_button_2:hover{
  background: #333333;   
}

.filter_first_name{
  position: absolute;
  width: 166px;
  height: 34px;
  left: 242px;
  top: 70px;
  
  border: 3px solid #2A4360;
  box-sizing: border-box;
  border-radius: 6px;
}

.filter_last_name{
  position: absolute;
  width: 166px;
  height: 34px;
  left: 450px;
  top: 70px;
  
  border: 3px solid #2A4360;
  box-sizing: border-box;
  border-radius: 6px;
}