html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
     box-sizing: border-box;
     overflow-x:hidden;
}
*, *::before, *::after{
     box-sizing: inherit;
}
.wrapper{
     max-width: 1400px;
     margin: 0 auto;

}
.header{
    position: fixed;
    width: 63px;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #333333;
}

/* Кнопка для профиля */
.profile_logo{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 62px;
  
    background-color: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
  }
  .profile_logo:hover{
    left: 62px;
    width: 200px;
    background-image: url("../images/profile.png");
  }
  .img_3{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 62px;
  }


/* Кнопка для лаб */
.back_logo{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 0px;

    background-color: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.back_logo:hover{
    left: 62px;
    width: 200px;
    background-image: url("../images/лабы.png");
}
.img_1{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 0px;
}
/* Кнопка для выйти */
.logout_logo{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 124px;
    
    background-color: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.logout_logo:hover{
    left: 62px;
    width: 200px;
    background-image: url("../images/выход.png");

}
.img_2{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 124px;
}

/* кнопка отправить */
.submit_button{
    float: right;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 7px;
    background: #6675df;
    width: 25%;
  

    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;   
}
.submit_button:hover{
    background: #333333;   
}


/*Вывод текст ошибки*/
.error_text{
    float: left;

    display: flex;
    flex-direction: column;
    text-align: center;

    color: #6675df;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

/*ID*/
.id_number{
    position: absolute;
    right: 26px;
    top: 10px;
    font-weight: bold;
}
/*Курс лабы*/
.course_number{
    position: absolute;
    top: 35px;
    right: 26px;
    font-weight: bold;
}
/*Предмет лабы*/
.subject_number{
    position: absolute;
    top: 60px;
    right: 26px;
    font-weight: bold;
}


/*Всё остальное*/
.block{
    position: absolute;
    top: 30px;
    left: 370px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    }
.item{
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    }
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;

    }
.kod{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
.kod textarea{
    resize: none;
    outline: none !important;
    tab-size: 4;
    }
.kod span{
    font-weight: bold;
    }
.text{
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    line-height: 1.5;
}

.primer{
    font-weight: bold;
    margin-top: 10px;
}

.kod-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    margin-top: 20px;
}

.tool{
    cursor: pointer;
}

/* Кнопка для профиля */
.admin_logo{
    position: fixed;
    width: 63px;
    height: 63px;
    left: 0px;
    top: 62px;
  
    background-color: #6675DF;
    border: 1px solid #000000;
    box-sizing: border-box;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.admin_logo:hover{
    left: 62px;
    width: 200px;
    background-image: url("../images/админ.png");
}
.img_4{
    position: fixed;
    height: 63px;
    width: 63px;
    left: 0px;
    top: 62px;
}