{% extends "admin/base.html" %}

{% load static %}
{% block extrastyle %}
    <link rel='stylesheet' href="{% static 'css/admin.css' %}">
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block content_title %}
    <a href='/antiplag/'>
        <input type="submit" name="btn_auth" style="background: #6675DF;" class="login100-form-btn" value="Антиплагиат">
    </a>
    <a href='/students/'>
        <input type="submit" name="btn_auth" style="background: #6675DF;" class="login100-form-btn" value="Профили студентов">
    </a>
    <a href='/practical_all/1/'>
        <input type="submit" name="btn_auth" style="background: #6675DF;" class="login100-form-btn" value="Перейти на сайт">
    </a>
{% endblock %}

{% block userlinks %}
    <a href='/auth/'>
        <p>Выйти</p>
    </a>
{% endblock %}

{% block nav-global %}{% endblock %}
